<%= image_tag "realtalk.png", class: "medium-logo" %>
<h4>Welcome to Realtalk <%= current_user.name %></h4>
<p>You currently have no chats. To start a chat, click on Contacts and choose someone to talk to.</p>
<p>Quick note, realtime notifications aren't working yet for brand new chats. But once a chat exists, everything should work fine!</p>
<div class="instructions">
	<h3>Contacts</h3>
	<%= icon("arrow-down")%>
</div>