<% content_for :navbar_contents do %>
	<ul class="nav-center">
	  <li><%= icon('comment') %></span>&nbsp;<span>Chats</span></li>
	</ul>
<% end %>

<% content_for :footer_contents do %>
	<%= render '/shared/standard_footer' %>
<% end %>

<div class = "chat-list">
	<% if @chats.any? %>
		<% @chats.each do |chat| %>
			<%= render partial: "chat_item", locals: { chat: chat } %>
		<% end %>
	<% else %>
		<%= render 'welcome' %>
	<% end %>
<div>
