<h1>Welcome <%= current_user.name %></h1>
<h3>We're sorry</h3>
<p>Unfortunately there's not a lot you can do just yet. Come back in a few days and everything should be ready.</p>
<%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "realtalk-btn btn btn-primary btn-lg" %>
<%= image_tag "town.png", class: "footer-img"%>