/* Contacts page */
.contact-list {
    
    a {
        text-decoration: none;
        color: black;
    }
    
    .contact {
        height: 60px;
        width: 100%;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
    }
    
    .user-info {
        flex-grow: 1;
        -webkit-flex-grow: 1;
        padding-left: 20px;
    }
}

.user-thumbnail {
    img {
        height: 60px;
        width: 60px;
        border-radius: 30px;
    }
}

/* Profile page */

.profile-header{
    text-align: center;
    
    .user-thumbnail {
        
        img {
            height: 100px;
            width: 100px;
            border-radius: 50px;
        }
    }
    
}

.personal-info {
    display: flex;
    display: -webkit-flex;
    position: relative;
    
    .field {
        width: 100px;
        text-align: right;
        font-weight: 600;
    }
    
    .value {
        padding-left: 20px;
        flex-grow: 1;
        -webkit-flex-grow: 1;
    }
    
    .edit {
        position: absolute;
        top: -7px;
        right: 0;
    }
}